.project-board {
  margin: 2% 10% 0 10%;
  .tag {
    padding: 4px 6px;
    margin-left: 5px;
    font-weight: normal;
  }
  h5 {
    font-family: "Raleway", sans-serif;
    margin-bottom: 9px;
    font-weight: bold;
    opacity: 0.8;
    text-transform: uppercase;
  }
    &-row {
      width: 100%;
      min-height: 320px;
    }

  &-item {
    background-color: white;
    position: relative;
    padding: 12px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);

    &-content {
      padding-left: 6px;

      .title {
        font-weight: bold;
        font-size: 18px;
        margin: 0 !important;
      }

      &--duration {
        opacity: 0.8;
        font-weight: bold;
        position: absolute;
        right: 2%;
        bottom: 20px;
      }
      p {
        margin: 0;
        padding: 0;
      }
      img {
        margin-top: 15px;
        position: relative;
        border-radius: 50%;
        height: 37px;
        width: 37px;
      }
    }
    .border-red {
      border: none !important;
      border-left: 4px solid #E54243 !important;
    }
    .border-grey {
      border: none !important;
      border-left: 4px solid #2D3E50 !important;
    }
    .border-orange {
      border: none !important;
      border-left: 4px solid orangered !important;
    }
    .border-green {
      border: none !important;
      border-left: 4px solid #32CD32 !important;
    }
  }

  &-column {
    margin: 38px auto 0 auto;
    padding: 12px;
    width: 80%;
    margin-bottom: 15px;
    text-align: center;
    opacity: 1;

    i {
      font-size: 30px;
    }
  }

}
.App {
  text-align: center;
  width: 95%;
  margin: 15px auto;
}

.container-drag {
  text-align: center;
}

.wip {
  position: absolute;
  width: 150px;
  height: 100vh;
  left: 0;
  top: 10;
  background-color: #EEEEEE;
  border-right: 1px dotted;
}

.header {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #E0E0E0;
  width:100%;
}

.task-header {
  display: inline-block;
  background-color: skyblue;
  width:100%;
}

.droppable {
  position: absolute;
  width: 150px;
  height: 100vh;
  right: 0;
  top: 10;
  background-color: #9E9E9E;
  border-left: 1px dotted;
}

.draggable {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 5px auto;
  line-height: 5em;
}