.project-tasks {
  margin: 0 auto;
  h5 {
    font-family: "Raleway", sans-serif;
    margin-bottom: 9px;
    font-weight: bold;
    opacity: 0.8;
    font-size: 20px;
    text-transform: uppercase;
  }
}