.popup {

  input[type="text"], .account-content input[type="date"], select, textarea {
    width: 100%;
    height: 38px;
  }

  &-content {
    position: relative;
    overflow: hidden;
    background-color: white;
    padding: 20px 24px 30px;
  }

  &-tab {
    border: none;
    background-color: #F8F8F8;
    padding: 14px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;

    &--rights {
      background-color: #2D3E50;
      color: white;
    }
  }
  &-titleBar {
    overflow: hidden;
    display: block;
    position: relative;
    background-color: #2D3E50;
    color: white;
    padding: 11px 37px 11px 24px;
    font-size: 16px;
    font-weight: 800;

    a {
      color: white;
    }
  }

  &-btn--close {
    transition: all .5s;
    position: absolute;
    right: 11px;
    top: 11px;
    color: white;
    background: none;
    border: none;
    outline: none;

    &:hover {
      color: #000;
    }
  }

  &-groups {
    min-height: 120px;

    li:nth-child(odd) {
      background-color: #F2F2F2;
    }
    li:nth-child(even) {
    }
    li {
      display: block;
      padding: 8px;
    }
  }

  &-addGroup {
    text-align: center;
    &--input {
      width: 80% !important;
      margin-right: 10px;
    }
  }
  h5 {
    padding-top: 8px !important;
  }

  &-loading {

    padding: 20px 24px 30px;
    position: absolute;
    background-color: white;
    top: 25%;
    left: 0;
    right: 0;
    bottom: 0;

    h5 {
      text-align: center;
      padding: 0 !important;
    }
  }

  &-settings {
    input {
      width: 60px;
    }
  }
  &-rights {
    &--switch {
      margin: 8px 10px 10px 0;
    }

    button {
      background-color: $color-primary !important;
      padding: 0px 5px 5px 5px;
    }
  }
  input[type=checkbox] {
    display: inline-block !important;
    margin-right: 8px;
  }
  &-message {
    position: absolute;
    top: 200px;
    right: 4%;
    left: 4%;
    bottom: 20%;
  }
}