.projects {
  padding: 20px 0 10px 60px;
  background-color: #F8F8F8;
  h4 {
    font-family: "Raleway", sans-serif;
  }

  &-tab {
    border: none;
    background-color: #F8F8F8;
    padding: 14px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 20px;
  }

  &-overview {
    margin: 0 20%;
  }

  tr:hover {
    background: #CCC;
  }
  &-overlay {

  }

  thead {
    background-color: #2D3E50;
    color: white;
  }

  table {
    margin-top: 15px;
    background-color: white;
    padding: 20px !important;
    box-shadow: 1px 1px 2px #fff inset, -1px -1px 2px #fff inset;
    .star {
      font-size: 20px;
      margin-left: 120px;
      color: yellow;
    }
    .arrow {
      margin-right: 50px;
    }
    p {

      margin: 10px 0 10px 8px;
    }
  }

  td, th {
    padding: 14px !important;
  }

  td {
    width: 25%;
  }
}#no-bg {
   &:hover {
     background: none !important;
   }
 }

@media screen and (max-width : 760px) {
  .projects {
    padding: 0;
    &-overview {
      margin: 0;
      padding: 20px 25px 10px 25px;

    }
  }
}