.alert {
  color: white;
  margin: 20px 5px;
  padding: 14px;

  a {
    color: black;
    font-weight: bold;
    &:hover {
      color: $color-primary;
    }
  }
  &-green {
    background-color: #448602;
  }
  &-red {
    background-color: #E54243;
  }
  &-blue {
    background-color: #E54243;
  }
  &-black {
    background-color: #2D3E50;
    color: white;
  }
}                                                                                       