.alert {
  color: white;
  margin: 20px 5px;
  padding: 14px;

  a {
    color: black;
    font-weight: bold;
    &:hover {
      color: $color-primary;
    }
  }
  &-green {
    background-color: #448602;
  }
  &-red {
    background-color: #E54243;
  }
  &-blue {
    background-color: $color-primary;
  }
  &-black {
    background-color: #2D3E50;
    color: white;
  }
}

.react-notification-root {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999999;
  width: 320px;
  padding: 0px 15px;
  max-height: calc(100% - 30px);
  overflow-x: hidden;
  overflow-y: auto;
}
.notification-item {
  background-color: red !important;
}