.tag {
  font-family: $font_multi;
  color: white;
  padding: 8px;
  &-primary {
    background-color: $color-primary;
  }
  &-second {
    background-color: $color-second;
  }
  &-third {
    background-color: $color-third;
  }
  &-green {
    background-color: green;
  }
  &-red {
    background-color: #ef3d47;
  }
}
