$color-primary: #5680e9;
$color-second: #5ab9ea;
$color-third: #8488eb;
$color-red: #E54243;
$font_standard :  'Open Sans', sans-serif;
$font_multi :   'Muli', sans-serif;
$font_raleway: 'Raleway', sans-serif;